.form-home {
  .bg-detail {
    background: url("../../dist/img/2contato-home.png") no-repeat;
    background-size: cover;
    height: 400px;
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  p {
    text-align: center !important;
    margin: 0;
    padding: 0 !important;
  }
  input,
  textarea {
    border: 2px solid white;
    background: transparent;
    padding: 10px 20px;
    color: white;
    outline: none;
    border-radius: 5px;
    width: 95%;
  }
  textarea::placeholder {
    text-align: left;
    color: white;
  }
  input::placeholder {
    color: white;
  }
  a {
    padding: 15px 60px;
    background: white;
    color: #43525a;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
    font-size: 14px !important;
  }
  .form-hover:hover {
    opacity: 0.6;
    transition: 0.1s ease;
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .form-size {
    width: 87% !important;
  }
}

@media (min-width: map-get($grid-breakpoints ,lg )) {
  .contato-body {
    .text {
      padding-left: 10% !important;
    }
  }
}

@media (min-width: 800px) and (max-width: 1050px) {
  .contato-body {
    min-height: 830px;
    .text {
      padding-left: 4% !important;
    }
  }
}
