$primary: #feb81a;

.empreend-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20px;
    height: 400px;
    width: 100%;
    padding-top: 88px;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .empreend-img {
        height: 650px;
        background-position-y: -40px;
    }
}

.box-logo {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: absolute;
    bottom: -25%;
    .lancamento {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 35px;
        border: 1px solid #ffffff;
        font-size: 14px;
        letter-spacing: 3px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
    }
    img {
        max-width: 100%;
        height: 50px;
    }
    span,
    h2 {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .box-logo {
        align-items: baseline;
        bottom: -24%;
        left: 9%;
        img {
            height: 90px !important;
        }
        p {
            color: #46535c !important;
        }
    }
}

.bg-emp {
    background-color: #797979b6;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .bg-emp {
        background-color: #f5f5f5;
        color: #46535c !important;
        p {
            color: #46535c !important;
        }
    }
}

.pad-top {
    padding-top: 120px;
    ul {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        // align-items: center;
        li {
            font-size: 18px;
            text-transform: capitalize;
            list-style: none;
        }
        li::before {
            content: "•";
            padding-right: 10px;
            color: $primary;
        }
    }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
    .pad-top {
        position: relative;
        left: 50%;
        padding-top: 30px;
    }
}

.empreend-sobre {
    .titulo-sobre {
        border-left: 3px solid $primary;
        padding-left: 20px;
        font-size: 34px;
    }
    .info-geral {
        span {
            display: block;
            font-weight: bold;
        }
    }
    b {
        @extend .color-black;
    }
    p {
        color: white;
        padding-bottom: 20px;
        margin: 0;
    }
    .custom-p {
        font-size: 14px;
    }
    ul {
        margin: 0 auto;
        list-style: none;
        font-size: 18px;
        li::before {
            content: "•";
            padding-right: 10px;
            color: $primary;
        }
    }
    h3 {
        font-size: 18px;
        margin: 0;
        padding-bottom: 10px;
    }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
    .empreend-sobre {
        padding-left: 10% !important;
        padding-top: 50px !important;
        span {
            height: 70px;
            width: 40px;
            // position: relative;
            // bottom: -80px;
            // left: 14%;
        }
    }
    ul {
        margin: 0 !important;
    }
    .empreend-detail {
        z-index: 0 !important;
    }
    .line-detail {
        margin: 0 auto 30px auto;
        width: 95%;
        height: 2px;
        background-color: #e7e7e7;
    }
}

.empreend-detail {
    background: url("../../dist/img/empreendimento-detail.png") no-repeat;
    background-size: contain;
    height: 300px;
    width: 250px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.fotos-empreend {
    span {
        font-size: 40px;
        border-left: 3px solid $primary;
        padding-left: 20px;
        line-height: normal;
    }
    .left-arrow {
        position: absolute;
    }
    button {
        border-radius: 20px;
        border: none;
        height: 10px;
    }
    .active {
        background: #646464;
    }
    ul {
        list-style: none;
        li {
            font-size: 17px;
            line-height: 17px;
            color: #44484b;
            font-weight: 300;
            padding-bottom: 10px;
        }
        li:first-child {
            font-size: 18px;
            letter-spacing: 4px;
        }
        li:first-child::before {
            content: "•";
            padding-right: 10px;
            color: $primary;
        }
    }
    .dot-container {
        span {
            border: none !important;
        }
    }
    .nav-empreend {
        position: absolute;
        top: 35%;
        z-index: 2;
        .owl-next {
            right: 0% !important;
        }
        button {
            color: white;
            height: auto;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
    .fotos-empreend {
        .single-container {
            img {
                width: 500px !important;
            }
        }
        ul {
            li {
                padding-bottom: 15px;
            }
            li:first-child {
                color: #cbcbcb;
            }
        }
    }
}

.aside-form {
    span {
        display: inline-block;
        font-size: 34px;
        border-left: 3px solid $primary;
        padding-left: 20px;
        line-height: normal;
    }
    li {
        color: #000;
        list-style: none;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 25px;
        font-weight: 600;
    }
    li::before {
        content: "•";
        padding-right: 10px;
        color: $primary;
    }
    h3,
    h4 {
        font-size: 16px;
    }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
    .aside-form {
        li {
            color: #cbcbcb !important;
        }
        h3 {
            font-weight: 600;
        }
    }
}

.form-empreend {
    li {
        list-style: none;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    li::before {
        content: "•";
        padding-right: 10px;
        color: $primary;
    }
    input,
    textarea {
        text-align: center;
        border: none;
        border-radius: 3px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 112px;
        height: 45px;
        background-color: $primary;
        border: 2px solid #ffffff;
        color: white;
        margin: 0 auto;
    }
}
@media (min-width: map-get($grid-breakpoints , lg )) {
    .form-empreend {
        li {
            color: #cbcbcb !important;
        }
        a {
            margin: 0;
        }
        input,
        textarea {
            text-align: left;
        }
    }
}

.veja-empreend {
    a {
        color: #46535c;
    }
    span {
        border-left: 3px solid $primary;
        padding-left: 20px;
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 700;
        color: white;
    }
    .lancamento {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 121px;
        height: 25px;
        border: 1px solid #cbcbcb;
        font-size: 9px;
        letter-spacing: 2px;
        color: #cbcbcb;
        font-weight: 500;
    }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
    .veja-empreend {
        span {
            color: #cbcbcb;
        }
    }
}
