footer {
  z-index: 1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding-bottom: 5px;
      a {
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 300;
      }
    }
  }

  p {
    color: white;
    background-color: #3e484d;
    margin: 0;
    font-size: 11px;
  }
}

@media (min-width: map-get($grid-breakpoints,lg)) {
  footer {
    .separator {
      margin: 0 auto;
      width: 60%;
      height: 1px;
      background: #5f6c73;
    }
    ul {
      li {
        a:hover {
          text-decoration: underline;
          color: white;
        }
      }
    }

    p {
      font-size: 14px;
    }
  }
}
