header {
  background-color: transparent;
}
nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  box-shadow: rgba(89, 89, 89, 0.24) 0px 1px 32px -5px;

  .img-fluid {
    width: 150px;
  }

  .navbar-toggler {
    background: url(../img/hamburguer.png) center center no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    text-decoration: none !important;
    outline: 0;
  }
  .navbar-collapse-sm {
    background: white;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    ul {
      padding: 40px 30px;
      flex-direction: column !important;
      text-align: center;
      li:first-child {
        border-top: 1px solid #bebebe;
        padding-top: 20px;
      }
      li:nth-child(5) {
        border-bottom: 1px solid #bebebe;
        padding-bottom: 20px;
      }
      li {
        margin-bottom: 10px;

        a {
          font-size: 14px;
          letter-spacing: 2px;
          color: #43525a;
          font-weight: 300;
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 34px;
      color: #909090;
      font-family: "Roboto";
      font-weight: 300;
      margin: 0;
    }
    i {
      font-size: 18px;
    }
  }
}

.menu-fixo {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@media (min-width: map-get($grid-breakpoints,lg)) {
  nav {
    max-width: 80%;
    margin: 0 auto;
    .img-fluid {
      margin-left: 100px;
    }
    .navbar-collapse-sm {
      position: static;
      width: auto;
      ul {
        padding: 0px;
        flex-direction: row !important;
        li:first-child {
          border-top: none;
          padding-top: 0px;
        }
        li:nth-child(5) {
          border-bottom: none;
          padding-bottom: 0px;
        }
        li:last-child {
          padding-right: 0;
          font-size: 10px;
          letter-spacing: 3px;
          font-family: "Roboto";
          font-weight: 700;
          display: flex;
          align-self: center;
          justify-content: center;
          border-radius: 5px;
          a {
            color: white;
          }
          :hover {
            text-decoration: none;
          }
        }
        li:last-child:hover {
          cursor: pointer;
          opacity: 0.6;
        }
        li {
          letter-spacing: 1px;
          line-height: 48px;
          font-weight: 400;
          font-size: 12px;
          padding-right: 10px;
          margin: 0;
          :hover {
            text-decoration: underline;
          }

          a {
            color: black;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  nav {
    max-width: 100%;
  }
}
