$primary: #feb81a !important;

.bg-home {
  background: url("../../dist/img/bg-home.svg") no-repeat;
  background-size: cover;
  background-position-y: 120px;
  background-position-x: 30px;
  height: 450px !important;
  padding-top: 140px !important;
  p,
  h1,
  a {
    align-self: end;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-home {
    height: 650px !important;
    padding-top: 130px !important;
    background-position-x: 120%;
    background-position-y: 20px;
    background-size: contain;
    padding-left: 10% !important;
    h1 {
      margin-left: 0 !important;
    }
  }
}

.quem-somos-home {
  h1 {
    font-size: 36px;
    line-height: 46px;
    color: #43525a;
    font-family: "Roboto";
    font-weight: 300;
  }
  p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #43525a;
    font-family: "Noto Serif TC";
    font-weight: 400;
    z-index: 10;
  }
  a {
    letter-spacing: 2px;
  }
  .section-detail {
    position: absolute;
    bottom: -20px;
    right: 0;
    background: url("../../dist/img/detail-home.png") no-repeat;
    background-size: contain;
    width: 110px;
    height: 160px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .quem-somos-home {
    padding-top: 50px;
    h2 {
      font-size: 16px;
      margin-left: 10%;
    }
    p {
      font-size: 16px;
    }
    div:nth-child(2) {
      padding-left: 10% !important;
    }
    .section-detail {
      bottom: 0%;
      height: 350px;
      width: 270px;
    }
  }
}

.section-separator {
  margin-top: 90px;
  margin-bottom: 60px;
  width: 80%;
  height: 2px;
  background-color: #d4d1d1;
}

.item-cliente {
  height: 60px;
  width: 150px;
}

.dot-container {
  button {
    border: none;
    border-radius: 40%;
    height: 10px !important;
    width: 4px !important;
    background-color: #c7c7c7;
    margin-right: 15px;
    outline: none;
  }

  .active {
    background-color: #6d6b6b;
  }
}

.btn-clientes {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 69px;
  font-family: "Roboto";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 25px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .clientes-home {
    padding-left: 10% !important;
    h2 {
      font-size: 16px;
    }
  }
}
