.lancamentos {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item {
    position: relative;
    -webkit-box-shadow: 0px 8px 21px -8px rgba(94, 94, 94, 0.43);
    -moz-box-shadow: 0px 8px 21px -8px rgba(94, 94, 94, 0.43);
    box-shadow: 0px 8px 21px -8px rgba(94, 94, 94, 0.43);

    .text-item {
      background-color: white;
      div {
        border: 1px solid #909090;
        display: inline-flex;
        font-size: 14px;
        color: #909090;
        letter-spacing: 1px;
      }
      h3 {
        font-size: 18px;
      }
      h4 {
        font-size: 18px;
        color: #909090;
      }
      p {
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        span {
          font-size: 20px;
          padding-right: 10px;
        }
      }
    }
    a {
      display: inline-flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
      i {
        font-size: 40px;
      }
    }
  }

  .bg-1 {
    background: url("../../dist/img/slide-home-1.png") center center no-repeat;
    background-size: cover;
  }
}

.dot-lancamento {
  display: flex;
  justify-content: center;
  button {
    background-color: #aaa9a9;
    border: none;
    height: 2px;
    width: 70px;
  }
  .active {
    background-color: #e7a23b;
  }
}

.nav-container {
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .prime-logo {
    img {
      height: 140px !important;
      width: 220px !important;
    }
    background-color: #3e3f43;
  }

  .text-item {
    padding-bottom: 8%;
    h3,
    h4 {
      font-size: 30px !important;
    }
    p {
      font-size: 18px !important;
      font-weight: 500;
    }
    a:hover {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

@media (min-width: 1500px) {
  .prime-logo {
    img {
      height: 150px;
    }
  }
}

@media (max-width: 700px) {
  .slide {
    height: 300px;
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .projetos-tablet {
    min-height: 830px;
  }
  .item {
    max-width: 800px;
    .slide {
      height: 400px !important;
      width: 400px !important;
    }
    .prime-logo {
      height: 170px !important;
      img {
        height: 80px !important;
        width: auto !important;
      }
    }
  }
}

.slide {
  img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-projetos {
    background: url("../../dist/img/bg-home.png") center center no-repeat;
    background-size: contain;
    height: 400px;
    width: 550px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
  }
  .bg-gray {
    z-index: 0;
  }
}
