.bg-quem-somos {
  background: url("../../dist/img/quem-somos-bg.png") no-repeat;
  background-size: contain;
  background-position-x: 180%;
  background-position-y: 90px;
  padding-bottom: 0px !important;
  h1 {
    margin-top: 90px;
  }
  h2 {
    padding-top: 30px !important;
  }
}

@media (min-width: 480px) and (max-width: 1020px) {
  .bg-quem-somos {
    background-position-x: 100% !important;
    h1 {
      margin-top: 15% !important;
    }
    h2 {
      padding-top: 5% !important;
    }
  }
}

@media (min-width: 780px) and (max-width: 1200px) {
  .bg-quem-somos {
    h1 {
      top: 0 !important;
    }
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  .bg-quem-somos {
    background-position-x: 100%;
    background-position-y: 0;
    background-size: 450px;
    h1 {
      position: relative;
      top: 30px;
    }
    h2 {
      align-self: baseline;
      padding-top: 13% !important;
      padding-left: 10% !important;
      padding-right: 13% !important;
    }
  }
}

.history {
  z-index: 2;
  h3 {
    font-weight: 350;
    font-size: 18px;
  }
  p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #43525a;
    font-family: "Noto Serif TC";
    font-weight: 400;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .history {
    top: 40% !important;
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  .history {
    position: absolute !important;
    top: 50%;
    right: 7%;
    padding-bottom: 0 !important;
    background-color: transparent !important;
  }

  .margin-auto {
    margin: auto auto;
    p {
      font-size: 16px !important;
    }
  }
}

.bg-section-history {
  background: url("../../dist/img/quem-somos-2.png") center center no-repeat;
  background-size: cover;

  .separator {
    height: 2px;
    width: 80%;
    background-color: #5a6a72;
    margin: 0 auto;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  section {
    .separator {
      height: 250px !important;
      width: 2px !important;
    }
  }
}

.mission {
  h2 {
    font-size: 36px;
    line-height: 38px;
    color: #43525a;
    font-family: "Roboto";
    font-weight: 700;
  }
  p {
    border-left: 3px solid $primary;
    padding-left: 15px;
  }
  .quem-somos-detail {
    background: url("../../dist/img/detail-quem-somos.png") center center no-repeat;
    background-size: contain;
    height: 130px;
    width: 220px;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .quem-somos-detail {
    height: 200px !important;
    width: 350px !important;
  }
}
