.banner-2 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 80px;
    border-left: 3px solid $primary;
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 43px;
    color: #43525a;
    font-family: "Roboto";
    font-weight: 150 !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .banner-2 {
    height: 250px;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 50px;
      margin-top: 80px;
      margin-bottom: 80px !important;
    }
  }
}

.servicos-home,
.contato-home {
  .elipse {
    border: 2px solid white;
    border-radius: 48%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 28px;
    line-height: 36px;
    color: #43525a;
    font-weight: 300;
  }
  p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: "Noto Serif TC";
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
  }
  .border-gray {
    border-left: 3px solid #43525a;
  }
  .border-primary {
    border-left: 3px solid $primary;
  }
}

.btn-servicos-home {
  border: 2px solid $primary;
  letter-spacing: 1px;
  color: #3e3f43;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
}
.btn-servicos-home:hover {
  background-color: $primary;
  text-decoration: none;
  color: white;
}

@media (min-width: 780px) and (max-width: 1040px) {
  .servicos-home {
    max-width: 90%;
    p {
      max-width: 100%;
    }
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .template-services {
    min-height: 830px;
    // a {
    //   margin-top: 100px !important;
    //   margin-bottom: 170px !important;
    // }
  }
}

@media (min-width: 1200px) {
  .pad-desk {
    padding-left: 48px !important;
  }
}
