@import "../../node_modules/bootstrap/scss/bootstrap";


$primary: #feb81a;
$secundary: #43525a;

.bg-gray {
  background-color: #f5f5f5;
}

.color-gray {
  color: #979797;
}
.f-18{
  font-size:18px;
}
.color-black {
  color: #000;
}

.bg-dark-gray {
  background-color: $secundary;
}

.bg-blue {
  background-color: $primary !important;
}

.color-blue {
  color: $primary !important;
}

.margin-center {
  margin: 0 auto !important;
}

p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #43525a;
  font-family: "Noto Serif TC";
  font-weight: 400;
}

.banner {
  position: relative;
  background-color: #f4f4f4;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  h1 {
    border-left: 3px solid $primary;
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 43px;
    color: #43525a;
    font-family: "Roboto";
    font-weight: 150 !important;
  }
  h2 {
    font-size: 40px;
    font-weight: 150;
    padding-top: 80px;
    bottom: 8%;
    color: #43525a;
    position: relative;
  }
  p {
    font-size: 16px;
    color: #43525a;
    font-family: "Noto Serif TC";
    font-weight: 400;
    padding-right: 20%;
  }
  a {
    position: absolute;
    bottom: 5px;
    i {
      font-size: 40px;
    }
  }
}
@media (min-width: map-get($grid-breakpoints,lg)) {
  .banner {
    height: 650px;
    
    h1 {
      font-size: 50px;
      max-width: 150px;
      margin: 0 auto 30px auto;
    }
    p {
      padding-left: 20px;
      font-size: 18px;
      max-width: 300px;
      padding-right: 0;
    }
  }
}

.titulo-sessao {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #909090;
  border-left: 2px solid $primary;
  padding-left: 5px;
}

@import "clientes";
@import "contato";
@import "empreendimento";
@import "header";
@import "footer";
@import "home";
@import "projetos";
@import "quem-somos";
@import "servicos";